  <footer id="footer">
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i>
    <p class="copyright">© Copyright 2022 Gaddiel Ramos</p>
  </footer>
    <!-- Javascript link -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  </body>

</html>