{% include "header.html" %}


  <!-- My name (Title) -->
<section id="title" style="background-image: url('static/img/cool-background.png')">

    <div>
      <table cellspacing="20" align="center">
            <tr>
              <td><h1 class="my_name type_effect">Gaddiel H. Ramos</h1></td>
            </tr>
            <tr>
              <td><img src="static/img/iron-man.jpg" alt="Gaddiel's profile picture"></td>
            </tr>
            <tr>
              <td><h4 class="subtitle">Programmer</h4></td>
            </tr>
      </table>
    </div>

</section>


<!-- About Me -->
<section id="about">
  <h2 class="my_journey">About Me</h2>

  <div class="card-group">
    <div class="about_me col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-header">
          <h3>Python</h3>
        </div>
        <div class="card-body">
          <p>Object Oriented Programming, GUI's, Web Scraping, API's</p>
          <p>Usage of different libraries (Pandas, Tkinter, Json, Flask, ...)</p>
          <p>Data science (SQL, Matplotlib, NumPy, Seaborn...)</p>
                    <!-- <button type="button" class="btn btn-lg btn-outline-primary">Sign Up</button> -->
        </div>
        <div class="card-footer">
            <a class="btn" href="https://github.com/StarkTrooper">Go to my Projects</a>
        </div>
      </div>
    </div>

    <div class="about_me col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-header">
          <h3>Full-stack Development</h3>
        </div>
        <div class="card-body">
          <p>HTML</p>
          <p>CSS</p>
          <p>Javascript</p>
          <p>Bootstrap</p>
          <!-- <button type="button" class="btn btn-lg btn-primary">Sign Up</button> -->
        </div>
        <div class="card-footer">
<!--            <a class="btn" href="#">See my other websites</a>-->
        </div>
      </div>
    </div>

    <div class="about_me col-lg-4 col-md-12">
      <div class="card h-100">
        <div class="card-header">
          <h3>Illustrator and Photoshop</h3>
        </div>
        <div class="card-body">
          <p>Own an online Store with my designs</p>
          <p>Accurate usage of the tools in both programs</p>
          <p>Love to bring ideas to the real world</p>
          <!-- <button type="button" class="btn btn-lg btn-primary">Sign Up</button> -->
        </div>
        <div class="card-footer">
            <a class="btn" href="http://StarkTrooper.redbubble.com">Go to my Online-shop</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about_me_story">
  <div class="story">
      <h2 class="my_journey">My Journey</h2>
      <p class="description_text">Six months before my senior year at University, I realized my career (Industrial Engineering) doesn't fulfill me,
        so I started looking for my passion until I found out I could create some designs and make some money in the process. So I learned to use Canva, Illustrator, and Photoshop
        then started an online store. Nevertheless, this didn't fulfill me either, so it occurred to me "It would be nice if I'm up to make my web page and promote my art" and holding on to that thought
         began the quest on finding the ultimate course until I get to this Python Bootcamp that caught my attention instantly, since that day I've been following the programming path which I'm very passionate about. :) </p>
    <p class="description_text">Complementing my Python knowledge, I dove into Web Development and the usage of other programs that would form me as a complete <b><u>Pro</u></b>grammer.</p>
  </div>

</section>

<!-- Footer -->
  {% include "footer.html" %}
